@using System.Collections
@using MvcBookStore.Models
@using MvcBookStore.Utils
@using X.PagedList
@using X.PagedList.Mvc
@model ResultList<AuthorViewModel>

@{
    ViewBag.Title = "Index";
    var queryOption = ViewBag.QueryOption as QueryOption;
}

<h2>Index</h2>

@*<!-- ko if: authors.length > 0 -->*@
<!-- ko if: pagingService.entities().length > 0 -->
@*<div style="display: none" data-bind="visible: authors.length > 0">*@
<div style="display: none" data-bind="visible: pagingService.entities().length > 0">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @*@Html.BuildSortableLink(Html.DisplayNameFor(m => m.FirstName).ToHtmlString(), "Index", "FirstName", queryOption)*@
                    @Html.BuildKnockoutSortableLink(Html.DisplayNameFor(m => m.Result[0].FirstName).ToHtmlString(),"Index","firstName")
                </th>
                <th>
                    @*@Html.BuildSortableLink(Html.DisplayNameFor(m => m.LastName).ToHtmlString(), "Index", "LastName", queryOption)*@
                    @Html.BuildKnockoutSortableLink(Html.DisplayNameFor(m => m.Result[0].LastName).ToHtmlString(), "Index", "LastName")
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        @*<tbody data-bind="foreach: authors">*@
        <tbody data-bind="foreach: pagingService.entities">
            <tr>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: lastName"></td>
                <td>
                    <a data-bind="attr: { href: '@Url.Action("Details")/' + id}"
                       class="btn btn-info">Details</a>
                    <a data-bind="attr: { href: '@Url.Action("Edit")/' + id}"
                       class="btn btn-primary">Edit</a>
                    <a data-bind="click: $parent.showDeleteModal, attr: { href: '@Url.Action("Delete")/' + id}"
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
@*    @Html.PagedListPager(ViewBag.PagedList as IPagedList, page => Url.Action("Index", queryOption.Page(page)))*@
    @Html.BuildKnockoutNextPreviousLinks("Index")
</div>
<!-- /ko -->
@*<!-- ko if: authors.length === 0 -->*@
<!-- ko if: pagingService.entities().length === 0 -->
@*<div style="display: none" data-bind="visible: authors.length === 0" class="alert alert-warning alert-dismissible" role="alert">*@
<div style="display: none" data-bind="visible: pagingService.entities().length === 0" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" data-dismiss="alert" class="close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    There are no authors to display.
    Click @Html.ActionLink("here", "Create") to create one now.
</div>
<!-- /ko -->

@section scripts {
    <script>
        var viewModel = new AuthorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}